/* .nav_allimg{
	height: 95%;
	background:url(../img/2b302cc23c0a91f80ec441a31d614bca.jpg)no-repeat;
	
} */

.nav_img1{
	height: 500px;
	width: 45%;
	background-image: url(../img/ts1-180817.png);
	position: absolute;
	margin: 0 0 0 500px;
}

.nav_img2{
	height: 500px;
	width: 45%;
	background-image:url(../img/ts5-180925.png);
	position: absolute;
	margin: 0 0 0 500px;
}

.nav_img3{
	height: 500px;
	width: 45%;
	background-image:url(../img/ts2-180817.png);
	position: absolute;
	margin: 0 0 0 500px;
}

.nav_img4{
	height: 500px;
	width: 45%;
	background-image:url(../img/ts3-180817.png);
	position: absolute;
	margin: 0 0 0 500px;
}

.nav_img5{
	height: 500px;
	width: 45%;
	background-image:url(../img/ts4-180817.png);
	position: absolute;
	margin: 0 0 0 500px;
}