*{
	margin: 0px;
	padding: 0px;
}

a:link,a:visited{
	text-decoration: none;  
	color: black;
	text-align: center;	
}

.nav_css{
	height: 800px;
	width: 100%;
	background-color: crimson;
	float: left;
	position: relative;
}

